.side{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: aqua;
    text-align: center;
}

.header{
    position: absolute;
    top: 0;
    width: 100%;
    padding-bottom: 20px;
    background-color:darkorchid;
}

.header > h1{
    font-size: 50px;
}
.header > h3{
    margin-top: -10px;
}

.menu{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0px;
    text-align: center;
    margin-top: 145px;
    cursor: pointer;
}

.menu > h1{
    padding: 20px;
    background-color: rgb(1, 44, 44);
    color: white;
}
.menu > .iBruk{
    background-color: greenyellow;
    color:black;
}
.fyll{
    margin: 10px 250px;
    font-size: 20px;
    max-width: 1000px;
}